services:
  socket-proxy:
    image: ghcr.io/wollomatic/socket-proxy:1
    restart: always
    read_only: true
    user: 65534:${SOCKET_PROXY_GID:?error}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    healthcheck:
      test: ["CMD", "./healthcheck"]
      interval: 10s
      timeout: 5s
      retries: 2
    environment:
      SP_ALLOWFROM: beszel-agent,beszel-local-agent,caddy,diun,homepage,tinyauth
      SP_ALLOWHEALTHCHECK: true
      SP_LISTENIP: 0.0.0.0
      SP_LOGLEVEL: ${SOCKET_PROXY_LOG_LEVEL:-INFO}
      SP_ALLOW_GET: (/v1\..{1,2})?/(_ping|version|info|containers/((\w+/)?json|\w+/stats(\?\S+)?)|images/\S+/json|networks(/.*)?|events(\?\S+)?)
      SP_ALLOW_HEAD: (/v1\..{1,2})?/_ping
    networks:
      - beszel-agent
      - caddy
      - diun
      - homepage
      - tinyauth
    labels:
      diun.enable: true

networks:
  beszel-agent:
    name: socket-proxy-beszel-agent
    internal: true
  caddy:
    name: socket-proxy-caddy
    internal: true
  diun:
    name: socket-proxy-diun
    internal: true
  homepage:
    name: socket-proxy-homepage
    internal: true
  tinyauth:
    name: socket-proxy-tinyauth
    internal: true
