services:
  gotify:
    image: ghcr.io/gotify/server:2
    restart: always
    volumes:
      - data:/app/data
    environment:
      TZ: ${TIMEZONE:?error}
    networks:
      - proxy-internal
    labels:
      diun.enable: true
      caddy: "{$$WILDCARD_INTERNAL}"
      caddy.import: service_proxy gotify
      caddy.import.reverse_proxy: "{{ upstreams 80 }}"
      homepage.group: Monitoring
      homepage.name: Gotify
      homepage.icon: gotify
      homepage.href: https://gotify.{{HOMEPAGE_VAR_INTERNAL_DOMAIN}}
      homepage.description: Push notifications
      homepage.weight: 4
      homepage.widget.type: gotify
      homepage.widget.url: https://gotify.{{HOMEPAGE_VAR_INTERNAL_DOMAIN}}
      homepage.widget.key: "{{HOMEPAGE_FILE_GOTIFY_API_TOKEN}}"
      homepage.widget.fields: '["messages"]'

volumes:
  data:

networks:
  proxy-internal:
    external: true
