# Please see the documentation for all configuration options:
# https://docs.github.com/en/code-security/dependabot/working-with-dependabot/dependabot-options-reference

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      dependencies:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directories:
      - "/services/*"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "mongo"
        versions: [">= 4.4.19"]

  - package-ecosystem: "docker-compose"
    directories:
      - "/services/*"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "mongo"
        versions: [">= 4.4.19"]
