(cloudflare) {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}

# Internal Access Check
{$ACCESS_CHECK_SUBDOMAIN}.{$EXTERNAL_DOMAIN} {
	header {
		Access-Control-Allow-Origin *
	}
	respond <<RESP
                {
                  "result": "Success!",
                  "dashboard": "https://{$SERVICES_DASHBOARD_SUBDOMAIN}.{$EXTERNAL_DOMAIN}"
                }
                RESP 200
	import cloudflare
}

# Internal Services Dashboard
{$SERVICES_DASHBOARD_SUBDOMAIN}.{$EXTERNAL_DOMAIN} {
	root * /etc/caddy/html

	handle /static/* {
		file_server
	}

	handle / {
		header Content-Type text/html
		respond <<HTML
                        <!DOCTYPE html>
                        <html lang="en">
                          <head>
                            <meta charset="UTF-8" />
                            <meta name="viewport" content="width=device-width, initial-scale=1" />
                            <title>Homelab Dashboard</title>

                            <link
                              rel="icon"
                              type="image/png"
                              href="static/favicon-48x48.png"
                              sizes="48x48"
                            />
                            <link rel="icon" type="image/svg+xml" href="static/favicon.svg" />
                            <link rel="shortcut icon" href="static/favicon.ico" />

                            <link rel="stylesheet" href="static/style.css" />
                          </head>
                          <body>
                            <div>
                              <h1>Homelab Dashboard</h1>
                              <ul>
                                <li>
                                  <a
                                    href="https://{$HOME_ASSISTANT_SUBDOMAIN}.{$EXTERNAL_DOMAIN}"
                                    target="_blank"
                                    >Home Assistant</a
                                  >
                                </li>
                                <li>
                                  <a
                                    href="https://{$SPOTIFY_DASH_FRONT_SUBDOMAIN}.{$EXTERNAL_DOMAIN}"
                                    target="_blank"
                                    >Spotify Dashboard</a
                                  >
                                </li>
                                <li>
                                  <a
                                    href="https://{$SPOTIFY_DASH_BACK_SUBDOMAIN}.{$EXTERNAL_DOMAIN}"
                                    target="_blank"
                                    >Spotify Dashboard (Backend)</a
                                  >
                                </li>
                              </ul>
                            </div>
                          </body>
                        </html>
                        HTML
	}

	handle {
		redir * /
	}

	import cloudflare
}

# Home Assistant
{$HOME_ASSISTANT_SUBDOMAIN}.{$EXTERNAL_DOMAIN} {
	reverse_proxy {$PROXY_HOST_URL}:{$HOME_ASSISTANT_PORT}
	import cloudflare
}

# Spotify Dashboard Frontend
{$SPOTIFY_DASH_FRONT_SUBDOMAIN}.{$EXTERNAL_DOMAIN} {
	reverse_proxy {$PROXY_HOST_URL}:{$SPOTIFY_DASH_FRONT_PORT}
	import cloudflare
}

# Spotify Dashboard Backend
{$SPOTIFY_DASH_BACK_SUBDOMAIN}.{$EXTERNAL_DOMAIN} {
	reverse_proxy {$PROXY_HOST_URL}:{$SPOTIFY_DASH_BACK_PORT}
	import cloudflare
}
