services:
  # Workaround for volume mount sub-paths not existing (see https://github.com/moby/moby/issues/47842)
  volume_instantiation:
    image: alpine:latest
    command: |
      mkdir -p /srv/stirling-pdf/configs /srv/stirling-pdf/logs /srv/stirling-pdf/customFiles /srv/stirling-pdf/pipeline /srv/stirling-pdf/trainingData
    volumes:
      - data:/srv/stirling-pdf

  stirling-pdf:
    image: ghcr.io/stirling-tools/stirling-pdf:latest
    restart: always
    depends_on:
      - volume_instantiation
    volumes:
      - type: volume
        source: data
        target: /configs
        volume:
          subpath: configs
      - type: volume
        source: data
        target: /logs
        volume:
          subpath: logs
      - type: volume
        source: data
        target: /customFiles
        volume:
          subpath: customFiles
      - type: volume
        source: data
        target: /pipeline
        volume:
          subpath: pipeline
      - type: volume
        source: data
        target: /usr/share/tessdata
        volume:
          subpath: trainingData
    environment:
      # Ref: https://docs.stirlingpdf.com/Configuration
      LANGS: en_US,en_GB
      SYSTEM_ENABLEANALYTICS: false
      SYSTEM_MAXFILESIZE: 200MB
      UI_LOGOSTYLE: modern
      UI_APPNAMENAVBAR: PDF Tools
      SHOW_SURVEY: false
    networks:
      - proxy-internal
    labels:
      diun.enable: true
      diun.watch_repo: false
      diun.include_tags: ^latest-fat$
      caddy: "pdf.{$$INTERNAL_DOMAIN}"
      caddy.reverse_proxy: "{{ upstreams 8080 }}"
      caddy.header.Content-Security-Policy: >
        "
        default-src 'self' blob: data: 'unsafe-inline' 'unsafe-eval';
        connect-src 'self' blob: https://api.iconify.design https://cdn.jsdelivr.net https://supabase.stirling.com/functions/v1/updates https://*.sentry.io;
        report-uri {$$SENTRY_CSP_ENDPOINT}&sentry_environment={$$ENVIRONMENT};
        report-to csp-endpoint;
        "
      caddy.header.Reporting-Endpoints: csp-endpoint="{$$SENTRY_CSP_ENDPOINT}&sentry_environment={$$ENVIRONMENT}"

volumes:
  data:

networks:
  proxy-internal:
    external: true
