name: portainer

services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ee:latest
    restart: always
    command: -H unix:///var/run/docker.sock
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - data:/data
    ports:
      - 9443:9443
    networks:
      - proxy-internal
    labels:
      diun.enable: true
      diun.watch_repo: false
      diun.include_tags: ^latest$
      caddy: "{$$WILDCARD_INTERNAL}"
      caddy.import: service_proxy portainer
      caddy.import.reverse_proxy: "{{ upstreams 9443 }}"
      caddy.import.reverse_proxy.import: https

volumes:
  data:
    name: portainer_data
    external: true

networks:
  proxy-internal:
    external: true
