services:
  beszel-agent:
    image: ghcr.io/henrygd/beszel/beszel-agent:0
    restart: always
    volumes:
      - data:/var/lib/beszel-agent
    healthcheck:
      test: ["CMD", "/agent", "health"]
      start_period: 5s
      interval: 120s
    secrets:
      - agent_key
      - agent_token
    environment:
      LISTEN: 45876
      DOCKER_HOST: tcp://socket-proxy:2375
      HUB_URL: "https://beszel.${INTERNAL_DOMAIN:?error}"
      KEY_FILE: /run/secrets/agent_key
      TOKEN_FILE: /run/secrets/agent_token
      LOG_LEVEL: ${BESZEL_LOG_LEVEL:-info}
    networks:
      - outgoing
      - socket-proxy-beszel-agent
    labels:
      diun.enable: true
      socket-proxy.allow.get: (/v1\.\d{1,2})?/containers/(json|[\w.-]+/(json|stats))(\?\S+)?

secrets:
  agent_key:
    environment: BESZEL_AGENT_KEY
  agent_token:
    environment: BESZEL_AGENT_TOKEN

volumes:
  data:

networks:
  outgoing:
  socket-proxy-beszel-agent:
    external: true
