services:
  uptime-kuma:
    image: ghcr.io/louislam/uptime-kuma:2
    restart: always
    volumes:
      - data:/app/data
    networks:
      - proxy-internal
    labels:
      diun.enable: true
      caddy: "{$$WILDCARD_INTERNAL}"
      caddy.import: service_proxy status
      caddy.import.import: tinyauth
      caddy.import.reverse_proxy: "{{ upstreams 3001 }}"
      tinyauth.apps.uptime-kuma.config.domain: status.${INTERNAL_DOMAIN:?error}
      tinyauth.apps.uptime-kuma.oauth.groups: admins
      tinyauth.apps.uptime-kuma.path.allow: ^/(status/|assets/|upload/|icon.svg|api/(push/|badge/|status-page/))
      homepage.group: Monitoring
      homepage.name: Uptime Kuma
      homepage.icon: uptime-kuma
      homepage.href: https://status.{{HOMEPAGE_VAR_INTERNAL_DOMAIN}}
      homepage.description: Service uptime monitor
      homepage.weight: 2
      homepage.widget.type: uptimekuma
      homepage.widget.url: https://status.{{HOMEPAGE_VAR_INTERNAL_DOMAIN}}
      homepage.widget.slug: all

volumes:
  data:

networks:
  proxy-internal:
    external: true
