services:
  caddy:
    image: ghcr.io/eliodinino/homelab/caddy:latest
    build: .
    restart: always
    volumes:
      - data:/data
      - config:/config
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    cap_add:
      - NET_ADMIN
    networks:
      - proxy-internal
      - socket-proxy-caddy
    secrets:
      - cloudflare_api_token
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      # Docker Proxy configuration
      DOCKER_HOST: tcp://socket-proxy:2375
      CADDY_INGRESS_NETWORKS: proxy-internal
      CADDY_DOCKER_SCAN_STOPPED_CONTAINERS: true # Return 502 instead of 404 for stopped services

      # Caddyfile variables
      CLOUDFLARE_API_TOKEN_FILE: /run/secrets/cloudflare_api_token
      ENVIRONMENT: ${ENVIRONMENT:?error}
      CERTIFICATES_EMAIL: ${CERTIFICATES_EMAIL:?error}
      INTERNAL_DOMAIN: ${INTERNAL_DOMAIN:?error}
      WILDCARD_INTERNAL: "*.${INTERNAL_DOMAIN:?error}"
      DASHBOARD_SUBDOMAIN: ${DASHBOARD_SUBDOMAIN:?error}
      PROXMOX_HOST: ${PROXMOX_HOST:?error}
      HEXOS_HOST: ${HEXOS_HOST:?error}
      HAOS_HOST: ${HAOS_HOST:?error}
      SENTRY_CSP_ENDPOINT: ${SENTRY_CSP_ENDPOINT:?error}
    labels:
      diun.enable: true
      diun.watch_repo: false
      diun.include_tags: ^latest$

  error-pages:
    image: ghcr.io/tarampampam/error-pages:3
    restart: always
    networks:
      - proxy-internal
    healthcheck:
      test: ["CMD", "/bin/error-pages", "healthcheck"]
      start_period: 5s
      interval: 120s
    environment:
      TEMPLATE_NAME: connection
      SEND_SAME_HTTP_CODE: true
    labels:
      diun.enable: true

  caddy-config:
    image: traefik/whoami:latest
    restart: always
    networks:
      - proxy-internal
    labels:
      diun.enable: true
      diun.watch_repo: false
      diun.include_tags: ^latest$

      #### Global Settings ####
      caddy_0.email: "{env.CERTIFICATES_EMAIL}"
      caddy_0.acme_dns: "cloudflare {file.{$$CLOUDFLARE_API_TOKEN_FILE}}"
      caddy_0.dns: "cloudflare {file.{$$CLOUDFLARE_API_TOKEN_FILE}}"
      caddy_0.ech: "ech.{$$INTERNAL_DOMAIN}"

      # When debugging, use debug flag and staging server
      # caddy_0.debug: ""
      # caddy_0.acme_ca: https://acme-staging-v02.api.letsencrypt.org/directory

      #### Snippets ####

      # Get wildcard certificate
      caddy_1: (wildcard)
      caddy_1.tls.dns: "cloudflare {file.{$$CLOUDFLARE_API_TOKEN_FILE}}"
      caddy_1.tls.resolvers: 1.1.1.1 1.0.0.1

      # Skip TLS verify for backend with self-signed HTTPS
      caddy_2: (https)
      caddy_2.transport: http
      caddy_2.transport.tls: ""
      caddy_2.transport.tls_insecure_skip_verify: ""

      # Authentication proxy via Tinyauth
      caddy_3: (tinyauth)
      caddy_3.forward_auth: tinyauth:3000
      caddy_3.forward_auth.uri: /api/auth/caddy
      caddy_3.forward_auth.copy_headers: Remote-User Remote-Name Remote-Email Remote-Groups

      # Pretty error pages
      caddy_4: (error_pages)
      caddy_4.handle_errors: ""
      caddy_4.handle_errors.reverse_proxy: "error-pages:8080"
      caddy_4.handle_errors.reverse_proxy.header_up: X-Code {err.status_code}

      # Default 404 response
      caddy_5: (default_404)
      caddy_5.error: 404
      caddy_5.import: error_pages

      # Service proxy template
      # Arg: subdomain
      # Block: response directives and other customizations
      caddy_6: (service_proxy)
      caddy_6.@{args[0]}: host {args[0]}.{$$INTERNAL_DOMAIN}
      caddy_6.handle: "@{args[0]}"
      caddy_6.handle.{block}: ""

      #### Wildcard Definitions ####

      # Direct access to IP (no domain)
      caddy_10: ":80"
      caddy_10.import: default_404

      # Service subdomains
      caddy_20: "{$$WILDCARD_INTERNAL}"
      caddy_20.0_import: wildcard
      caddy_20.1_import: default_404

      #### Static Definitions ####

      # This debugging container
      # https://github.com/traefik/whoami
      caddy_20.2_import: service_proxy whoami
      caddy_20.2_import.import: tinyauth
      caddy_20.2_import.reverse_proxy: "{{ upstreams 80 }}"
      tinyauth.apps.whoami.config.domain: whoami.${INTERNAL_DOMAIN:?error}
      tinyauth.apps.whoami.oauth.groups: admins

      # Internal access check
      caddy_20.3_import: service_proxy ping
      caddy_20.3_import.header.Access-Control-Allow-Origin: "*"
      caddy_20.3_import.respond: "`{\"result\": \"Success!\",\"dashboard\": \"https://{$$DASHBOARD_SUBDOMAIN}.{$$INTERNAL_DOMAIN}\"}` 200"

      # Proxmox
      caddy_20.4_import: service_proxy pve
      caddy_20.4_import.reverse_proxy: "{$$PROXMOX_HOST}:8006"
      caddy_20.4_import.reverse_proxy.import: https

      # TrueNAS
      caddy_20.5_import: service_proxy truenas
      caddy_20.5_import.reverse_proxy: "{$$HEXOS_HOST}:80"

      # Home Assistant OS
      caddy_20.6_import: service_proxy ha
      caddy_20.6_import.reverse_proxy: "{$$HAOS_HOST}:8123"

  caddy-external:
    image: caddy:2
    restart: always
    configs:
      - source: external_caddyfile
        target: /etc/caddy/Caddyfile
    volumes:
      - data-external:/data
      - config-external:/config
    networks:
      - proxy-external
      - proxy-plausible
      - proxy-immich-public
    environment:
      INTERNAL_DOMAIN: ${INTERNAL_DOMAIN:?error}
      EXTERNAL_DOMAIN: ${EXTERNAL_DOMAIN:?error}
      INGEST_EXTERNAL_SUBDOMAIN: ${INGEST_EXTERNAL_SUBDOMAIN:?error}
      IMMICH_EXTERNAL_SUBDOMAIN: ${IMMICH_EXTERNAL_SUBDOMAIN:?error}
    labels:
      diun.enable: true

configs:
  external_caddyfile:
    content: |
      (default_404) {
        handle {
          respond 404
        }
      }

      {$$INGEST_EXTERNAL_SUBDOMAIN}.{$$EXTERNAL_DOMAIN}:80 {
        handle_path /analytics/* {
          @plausible path /js/pa-*.js /api/event
          handle @plausible {
            reverse_proxy plausible:8000
          }

          import default_404
        }

        import default_404
      }

      {$$IMMICH_EXTERNAL_SUBDOMAIN}.{$$EXTERNAL_DOMAIN}:80 {
        @external path /share/*
        handle @external {
          reverse_proxy immich-public-proxy:3000
        }

        handle {
          redir https://photos.{$$INTERNAL_DOMAIN}{uri} permanent
        }
      }

      :80 {
        import default_404
      }

secrets:
  cloudflare_api_token:
    environment: CLOUDFLARE_API_TOKEN

volumes:
  data:
  config:
  data-external:
  config-external:

networks:
  proxy-internal:
    external: true
  socket-proxy-caddy:
    external: true
  proxy-external:
    external: true
  proxy-plausible:
    external: true
  proxy-immich-public:
    external: true
