services:
  mazanoke:
    image: ghcr.io/civilblur/mazanoke:latest
    restart: always
    networks:
      - proxy-internal
    labels:
      diun.enable: true
      diun.watch_repo: false
      diun.include_tags: ^latest$
      caddy: "{$$WILDCARD_INTERNAL}"
      caddy.import: service_proxy optimize
      caddy.import.reverse_proxy: "{{ upstreams 80 }}"

networks:
  proxy-internal:
    external: true
