name: Pre-Commit
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Run Pre-commit
        uses: pre-commit/action@v3.0.1
